.nav-wrapper {
  padding: 5px;
}

* {
  box-sizing: border-box;
}


/* Three image containers  */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row {
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.container_overlay_root {
  position: relative;
  width: 100%;
  height: 100%;

}

.container_overlay_root .overlay {
  position: absolute;
  top: 1%;
  left: 20%;


}

.btn {
  border: 2px solid black;
  background-color: transparent;
  color: black;

  font-size: 15px;
  cursor: pointer;
}

.success {
  border-color: rgb(242, 40, 110);
  color: rgb(242, 40, 110);
  padding: px 20px;
  
}

.success:hover {
  background-color: rgb(242, 40, 110);
  color: white;
}

.warning {
  border-color: rgb(242, 40, 110);
  color: rgb(242, 40, 110);
  padding: px 30px;
}

.worning:hover {
  background-color: rgb(242, 40, 110);
  color: white;
}

.container_table {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container_table .content {
  position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
}
